.body{
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: #1b1b32;
  color: #f5f6f7;
  font-family: Tahoma;
  font-size: 16px;
}
.header {
  text-align: center;
}
.h1{
  text-align: center;
}

.blue{
  box-shadow: 0 0 20px 0 blue;
}
.gallery img {
  width: 100%;
  max-width: 350px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}
.content-width{
  
}